.App {
  overflow: auto;
}

.top {
  height: 100vh;
  background-image: url("./assets/background-1.jpg");
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-container {
  height: 100vh;
  /* background: rgb(92, 116, 74);
  background: linear-gradient(
    153deg,
    rgba(92, 116, 74, 1) 30%,
    rgba(28, 39, 20, 1) 70%
  ); */
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: repeating-linear-gradient(
      377deg,
      rgba(141, 191, 242, 0.05),
      rgba(141, 191, 242, 0.05) 1px,
      transparent 0,
      transparent 11px,
      rgba(141, 191, 242, 0.05) 0,
      rgba(141, 191, 242, 0.05) 12px,
      transparent 0,
      transparent 32px
    ),
    repeating-linear-gradient(
      287deg,
      rgba(141, 191, 242, 0.05),
      rgba(141, 191, 242, 0.05) 1px,
      transparent 0,
      transparent 11px,
      rgba(141, 191, 242, 0.05) 0,
      rgba(141, 191, 242, 0.05) 12px,
      transparent 0,
      transparent 32px
    ),
    repeating-linear-gradient(
      332deg,
      rgba(141, 191, 242, 0.05),
      rgba(141, 191, 242, 0.05) 1px,
      transparent 0,
      transparent 11px,
      rgba(141, 191, 242, 0.05) 0,
      rgba(141, 191, 242, 0.05) 12px,
      transparent 0,
      transparent 32px
    ),
    repeating-linear-gradient(
      242deg,
      rgba(141, 191, 242, 0.05),
      rgba(141, 191, 242, 0.05) 1px,
      transparent 0,
      transparent 11px,
      rgba(141, 191, 242, 0.05) 0,
      rgba(141, 191, 242, 0.05) 12px,
      transparent 0,
      transparent 32px
    ),
    linear-gradient(332deg, #253b28, #1c2714);
}
